{% extends "estate/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Real Estate | Profile
{% endblock %}

{% block content %}
<div class="container col-lg-6">
<div class="content-section d-flex align-items-center">
  <div class="profile-img-container">
    <img class="bd-placeholder-img card-img-center img-card prof-photo" src="{{ user.profile.image.url }}" />
  </div>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Profile Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-info confirm-btn button" type="submit">Update</button>
    </div>
</form>
</div>
</div>
{% endblock %}