{% extends "estate/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Updating your ad
{% endblock %}

{% block content %}
    <div class="container col-lg-6">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add your advertisement</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info confirm-btn button confirm-btn" type="submit">Post</button>
            </div>
        </form>   
    </div>
{% endblock %}